name: build&push_hub
on:
  workflow_call:
    inputs:
      env-path:
        description: >-
          path to the configuration file of environment variables
        required: false
        default: .github/.env
        type: string
      config-path:
        description: >-
          path to the ecr.json file which stores the variables for the instance
        required: false
        default: ".github/ecr.json"
        type: string
      image-name:
        description: >-
          name of the image, will use the repository name by default
        required: false
        default: ${{ github.event.repository.name }}
        type: string
      image-tag:
        description: >-
          tag of the image, in addition to the tag 'latest'
        required: false
        type: string
      APP_NAME:
        description: >-
          build-args
        required: false
        type: string
      APP_VSN:
        description: >-
          build-args
        required: false
        type: string
      OTP_VERSION:
        description: >-
          build-args
        required: false
        type: string
      push_to_ecr:
        description: >-
          boolean value to check if the image should be pushed to ecr.
        required: false
        default: false
        type: boolean
      context:
        description: "Build's context is the set of files located in the specified PATH or URL"
        required: false
        default: .
        type: string
      build-contexts:
        description: "List of additional build contexts (e.g., name=path)"
        required: false
        type: string
      file:
        description: "Path to the Dockerfile"
        required: false
        default: "./Dockerfile"
        type: string
      download-artifacts:
        description: "whether to download the artifacts before the build starts"
        required: false
        default: false
        type: boolean
      artifacts-name:
        description: "artifacts name"
        required: false
        default: "artifacts"
        type: string
      artifacts-path:
        description: "path to the artifacts"
        required: false
        default: "artifacts/"
        type: string
    secrets:
      ssh-key:
        description: >-
          build-args
        required: false
      gh-actor:
        description: >-
          GitHub personal access user
        required: false
      gh-pat:
        description: >-
          GitHub personal access token
        required: true
    outputs:
      uri:
        description: >-
          Uri of the pushed container
          The label is used in two cases:
          - to use as the input of 'image' property for the following jobs;
          - to remove the container from registry when it is not needed anymore.
        value: ${{ jobs.build-n-push.outputs.uri }}

jobs:
  check-ref:
    name: check-ref
    runs-on: ubuntu-latest
    outputs:
      check_ref_result: ${{ steps.check-reference.outputs.ref_check }}
    steps:
      - name: Check Reference
        id: check-reference
        run: |
          if [[ ${{ inputs.image-name }} =~ ^prod\/.* ]] && [[ ${GITHUB_REF} =~ refs\/heads\/[master|main] ]]
            then
              echo "ref_check=true" >> ${GITHUB_OUTPUT}
              echo "No runtime image will be created and pushed to ECR as this is a Prod workflow run directly on the master/main branch"
            else
              echo "ref_check=false" >> ${GITHUB_OUTPUT}
              echo "Runtime image creation and push to ECR will follow..."
          fi

  build-n-push:
    name: build & push
    needs: [check-ref]
    if: needs.check-ref.outputs.check_ref_result == 'false'
    runs-on:
      ghr-aws
      # group: default
    permissions:
      id-token: write
      contents: read
      packages: write
    outputs:
      uri: ${{ steps.export.outputs.uri }}
    steps:
      - name: clean runner workspace
        uses: AutoModality/action-clean@v1

      - name: checkout repo
        uses: actions/checkout@v4

      - name: load project env
        run: sudo sed '/^#/d' ${{ inputs.env-path }} >> $GITHUB_ENV
        shell: bash

      - name: checkout hub tools
        uses: actions/checkout@v4
        with:
          repository: ${{ env.CI-SCRIPT-REPO }}
          token: ${{ secrets.gh-pat }}
          path: ${{ env.CI-SCRIPT-FOLDER-NAME }}

      - name: set up Docker Buildx # docker build action
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: "v0.30.1"

      - name: Download artifacts from previous build
        if: ${{ inputs.download-artifacts }}
        uses: actions/download-artifact@v5
        with:
          name: ${{ inputs.artifacts-name }}
          path: ${{ inputs.artifacts-path }}

      - name: login to ecr
        id: login-ecr
        if: ${{ inputs.push_to_ecr }}
        uses: myriad-actions/login-ecr@main
        with:
          config-path: ${{ inputs.config-path }}

      - name: set ecr url
        if: ${{ inputs.push_to_ecr }}
        run: |
          echo "ECR=${{ steps.login-ecr.outputs.registry }}/hub/${{ inputs.image-name }}" >> $GITHUB_ENV

      - name: set docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.GHCR }}
            ${{ env.ECR }}
          flavor: |
            latest=auto
          tags: |
            type=raw,value=${{ inputs.image-tag }}
            type=raw,value=latest,enable={{is_default_branch}}

      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.ssh-key }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          provenance: false
          context: ${{ inputs.context }}
          file: ${{ inputs.file }}
          build-contexts: ${{ inputs.build-contexts }}
          ssh: |
            default=${{ env.SSH_AUTH_SOCK }}
          build-args: |
            APP_NAME=${{ inputs.APP_NAME }}
            APP_VSN=${{ inputs.APP_VSN }}
            OTP_VERSION=${{ inputs.OTP_VERSION }}
          tags: ${{ steps.meta.outputs.tags }}
